<!-- ###LINKBOX### start -->
<div class="csc-frame-frame2">
	<h2>###LABEL_HEADLINE###</h2>
	###OPTIONAL_CONTENT_ABOVE###
	<p class="bodytext" style="display: ###DISPLAY_NEXT_PAGE###">###LABEL_NEXT_PAGE### <b>###LINK_NEXT_PAGE###</b></p>
	<p class="bodytext" style="display: ###DISPLAY_PREVIOUS_PAGE###">###LABEL_PREVIOUS_PAGE### <b>###LINK_PREVIOUS_PAGE###</b></p>
	<p class="bodytext" style="display: ###DISPLAY_ABOVE_PAGE###">###LABEL_ABOVE_PAGE### <b>###LINK_ABOVE_PAGE###</b></p>
	###OPTIONAL_CONTENT_BELOW###
</div>
<!-- ###LINKBOX### end -->